@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
}

.img-container {
  margin: 0.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transform: translateY(0rem);
  transition: all 0.3s ease-in-out;
  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  & > p {
    z-index: 1;
    margin: 2rem;
    color: white;
    opacity: 0;
    filter: drop-shadow(0px 0px 5px black);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    width: 250%;
    transform: translateY(-0.5rem);
    cursor: pointer;
    filter: drop-shadow(0px 5px 10px black);
    & > p {
      opacity: 1;
      font-size: 30pt;
    }
  }
}
